#go_fullscreen_container{
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.4);
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   .info{
      width: 40%;
      background-color: $offWhite;
      padding:3rem;
      h3{
         font-size:3rem;
      }
      
      a{
         text-decoration: none;
         display: inline-block;
      }
   }
}
.hide{
   display: none !important;
}